<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="flash-wrapper">
  	<p class="flash"><%= flash.notice %></p>
    </div>
    <div class="sidebar">
  <div class="right">
  <ul>
    <li class="right-li"> 
    
    <%= link_to "Homepage", articles_path %>
    </li>
    <li class="left-li">
      <%= link_to "Create a new Author", new_author_path %>
      </li>
      
    </ul>
    </div>
    <div class="left">
    <ul>
    <li class="right-tag">
    <%= link_to "List of tags", tags_path %>
    </li>
    <li class="left-list">
    <%= link_to "List of Authors", authors_path %>
    </li>
    </ul>
    </div>
    <ul>
    <li class="new-article-link">
    <%= link_to "Create a new Article", new_article_path %>
    </li>
    </ul>


</div>
    <div id="container">
      <div id="content">
    <%= yield :sidebar %>
    <%= yield %>

        <hr>
    <h6>
    <% if logged_in? %>
      <%= "Logged in as #{current_user.email} " %>
      <%= link_to "(logout)", logout_path %>
      <% else %>
        <%= link_to "(login)", login_path %>
      <% end %>
      </h6>
      </div>
      </div>
      <script> 
      var s = document.getElementById('flash-wrapper').style;
s.opacity = 1;
(function fade(){(s.opacity-=.1)<0?s.display="none":setTimeout(fade,450)})()
</script>
  </body>
</html>
